$borderColor   :rgba(255, 255, 255, 0.3);
$primeryColor  :#efefef;
$seconderyColor:#f9622B;


* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    text-decoration: none;
}

body {
    direction  : rtl;
    font-family: 'iransans';
    font-size  : 14px;
}

@mixin flex-ajd($a, $b, $c) {
    display        : flex;
    align-items    : $a;
    justify-content: $b;
    flex-direction : $c;

}


.col2 {
    width: 16.66%;
}

.col3 {
    width: 25%;
}

.col4 {
    width: 33.33%;
}

.col6 {
    width: 50%;
}

.container {
    max-width: 1100px;
    width    : 90%;
    margin   : 0 auto;
}

.line {
    width        : 100%;
    border       : none;
    margin       : 10px 0;
    border-bottom: 0.2px solid $borderColor;
}

.b-b-0 {
    border-bottom: none !important;
}