.cards {
  padding-top: 80px;
  padding-bottom: 80px;
  box-shadow: 0 6px 6px 0 rgba(black, 0.4);
  position: relative;
  &::before {
    content: "";
    left: -140px;
    position: absolute;
    bottom: 74px;
    background-image: url("../images/what-we-do-right.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 396px;
    height: 355px;
  }
  &::after {
    content: "";
    right: -23px;
    position: absolute;
    bottom: 46px;
    background-image: url("../images/what-we-do-left.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 334px;
    height: 352px;
  }
  .container {
    @include flex-ajd(center, space-between, row);
    .circleCard {
      position: relative;
      z-index: 1;
      border-radius: 50%;
      border: solid 1px $primeryColor;
      width: 250px;
      height: 250px;
      text-align: center;
      @include flex-ajd(center, center, column);
      padding: 30px 30px;
      .content {
        img {
          width: 65px;
          // height: 70px;
        }
        h4 {
          color: $primeryColorHover;
          margin-bottom: 10px;
          margin-top: 8px;
        }
        p {
          color: $primeryColor;
          font-size: 11px;
        }
      }
    }
  }
}
@media screen and (max-width:1123px){
  .cards{
    .container{
      flex-wrap: wrap;
     justify-content: center;
     .circleCard{
       margin: 5px;
     }
    }
  }
}