@mixin heroBtn {
    color: $primeryColor;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    background-color: $seconderyColor;
    text-align: center;
    font-size: 14px;
    word-break: break-all;
    min-width: 100%;
    height: 43px;
    @include flex-ajd(center,center,row);
    box-shadow: 0px 3px 7px #00000099;
  
  
}
.centerLable {
    position: relative;
    width: 100%;
    height: 80px;
    @include flex-ajd(center, center, row);
    h2 {
      display: inline-block;
      padding: 5px 33px;
      font-size: 16px;
      color: $primeryColor;
      border: solid $seconderyColor 1px;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      &::after {
        content: "";
        position: absolute;
        border-bottom: solid 2px $seconderyColor;
        width: calc(50% - 56px);
        right: 0;
        bottom: 50%;
      }
      &::before {
        content: "";
        position: absolute;
        border-bottom: solid 2px $seconderyColor;
        width: calc(50% - 56px);
        left: 0;
        bottom: 50%;
      }
    }
  }
  .basket {
    background-color:
    rgba($primeryColor,0.7);
    color: $mainBackColor;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    position: relative;
    &:hover {
      background-color: rgb(156, 153, 153);
      box-shadow: 0px 3px 7px #00000099;
    }
    .bodget {
      position: absolute;
      text-align: center;
      width: 20px;
      height: 20px;
      top: 0px;
      right: 5px;
      background-color: $seconderyColor;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      box-shadow: 0px 3px 7px #00000099;
    }
    .shop {
      padding: 11px 25px;
    }
    i{
      font-size: 18px;
    }
  }
