@mixin heroBtn {
    color: $primeryColor;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    background-color: $seconderyColor;
    text-align: center;
    font-size: 14px;
    word-break: break-all;
    min-width: 100%;
    height: 43px;
    @include flex-ajd(center,center,row);
    box-shadow: 0px 3px 7px #00000099;
  
  
}
