.header {
  @include flex-ajd(center, flex-start, column);
  position: relative;
  top: 0;
  height: 760px;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 700px;
    top: 0;
    right: 0;
    left: 0;
    background-image: url("../images/Home-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  nav {
    @include flex-ajd(center, space-between, row);

    .menu {
      padding: 45px 0;
      ul {
        position: relative;
        @include flex-ajd(center, center, row);

        li {
          list-style: none;
          margin-left: 25px;

          a {
            color: $primeryColor;
            display: inline-block;

            &.active,
            &:hover {
              color: $primeryColorHover;
            }
          }
        }
      }
    }

    .iconBar {
      padding: 45px 0;
      @include flex-ajd(center, center, row);
      a {
        margin-right: 20px;
        text-decoration: none;
        color: $primeryColor;
        z-index: 44;
        &:not(:last-child).active,
        &:not(:last-child):hover {
          color: $primeryColorHover;
        }
       
        &.basket {
          color: $mainBackColor;
         }
        i {
          font-size: 18px;
        }
      }
    }
  }

  .heroHeader {
    width: 100%;
    margin-top: 50px;

    .heroHeaderContainer {
      width: 100%;
      position: relative;
      @include flex-ajd(flex-start, flex-start, row);

      nav {
        width: 25%;
        @include flex-ajd(center, center, column);
        img {
          margin-bottom: 70px;
          width: 125px;
          height: 135px;
        }
        .items {
          @include flex-ajd(center, center, column);
          width: 100%;
          a {
            margin-bottom: 15px;
            @include heroBtn;
            transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            &:hover {
              background-color: $seconderyColorHover;
            }
          }
        }
      }
      .banner {
        top: 70px;
        position: absolute;
        bottom: -80px;
        left: -20px;
        width: 803px;
        height: 520px;
        background-image: url("../images/home-slider-pizza-2.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }
      .warm {
        //top: 45px;
        position: absolute;
        left: 15%;
        width: 40%;
        height: 100%;
        background-image: url("../images/shaddow-pizza.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        animation: warm 5s cubic-bezier(0.96, 0.98, 0.38, 0.4) 0.2s infinite
          normal;
        -webkit-animation: warm 5s cubic-bezier(0.96, 0.98, 0.38, 0.4) 0.2s
          infinite normal;
      }
    }
  }
}
@keyframes warm {
  0% {
    bottom: 70px;
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    bottom: 300px;
    opacity: 0;
  }
}
