.header {
  @include flex-ajd(center, flex-start, column);

    width: 100%;
    background-image: url("../images/Home-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
  nav {
    @include flex-ajd(center, space-between, row);
    .menu {
      padding: 45px 0;
      ul {
        position: relative;
        @include flex-ajd(center, center, row);
        li {
          list-style: none;
          margin-left: 25px;
          a {
            color: $primeryColor;
            display: inline-block;

            &.active,
            &:hover {
              color: $primeryColorHover;
            }
          }
        }
      }
    }

    .iconBar {
      padding: 45px 0;
      @include flex-ajd(center, center, row);

      a {
        margin-right: 20px;
        text-decoration: none;
        color: $primeryColor;

        &:not(:last-child).active,
        &:not(:last-child):hover {
          color: $primeryColorHover;
        }
        i {
          font-size: 18px;
        }
        &.basket {
         color: $mainBackColor;
        }
      }
    }
  }
.underHeader{
    @include flex-ajd(center, space-between, row);
    padding-bottom: 20px;
    .heroBtn{
      @include heroBtn;
     min-width: 150px;

    }
    img{
      width: 100px ;
      height: 110px;

    }
    .basket{

    }
  }

  }
