.match {
  
  .matchContainer {
    background-image: url("../images/Home-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    @include flex-ajd(flex-start, center, row);
    .container {
      position: relative;
      padding-top: 50px;
      
      @include flex-ajd(center, space-between, row);
      .matchContent {
        @include flex-ajd(center, space-between, row);
        padding: 30px 40px;
        p {
          color: $primeryColor;
        }
        a {
          @include heroBtn;
          min-width: 100px;
          margin: 40px;
        }
      }
      .chef {
       z-index: 2;
        }
        .chefLine{
        
              
                position: absolute;
                width: 100%;
                bottom: -40px;
          
        }
     

    }
  }
}
