* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  direction: rtl;
  font-family: 'iransans';
  font-size: 14px;
}

.col2 {
  width: 16.66%;
}

.col3 {
  width: 25%;
}

.col4 {
  width: 33.33%;
}

.col6 {
  width: 50%;
}

.container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.line {
  width: 100%;
  border: none;
  margin: 10px 0;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.3);
}

.b-b-0 {
  border-bottom: none !important;
}

@font-face {
  font-family: "iransans";
  src: url("../font/5c53f1a72f61b5b51e2ea79a22ebc38b.eot");
  /* IE9*/
  src: url("../font/5c53f1a72f61b5b51e2ea79a22ebc38b.eot") format("embedded-opentype"), url("../font/5c53f1a72f61b5b51e2ea79a22ebc38b.woff2") format("woff2"), url("../font/5c53f1a72f61b5b51e2ea79a22ebc38b.woff") format("woff"), url("../font/5c53f1a72f61b5b51e2ea79a22ebc38b.ttf") format("truetype");
  /* chrome firefox opera Safari, Android, iOS 4.2+*/
}

header {
  background-image: url("../images/Home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 45px 0;
}

header nav .menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

header nav .menu ul li {
  list-style: none;
  margin-left: 25px;
}

header nav .menu ul li a {
  color: #efefef;
  display: inline-block;
}

header nav .menu ul li a.active, header nav .menu ul li a:hover {
  color: #ffd500;
}

header nav .iconBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

header nav .iconBar a {
  margin-right: 20px;
  text-decoration: none;
  color: #efefef;
}

header nav .iconBar a:not(:last-child).active, header nav .iconBar a:not(:last-child):hover {
  color: #ffd500;
}

header nav .iconBar a i {
  font-size: 18px;
}

header nav .iconBar a.basket {
  background-color: rgba(239, 239, 239, 0.7);
  color: #1f1c1c;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

header nav .iconBar a.basket:hover {
  color: #1f1c1c;
}

header nav .iconBar a.basket i {
  padding: 7px 17px;
}

header .heroHeader {
  width: 100%;
}

header .heroHeader .heroHeaderContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

header .heroHeader .heroHeaderContainer nav {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header .heroHeader .heroHeaderContainer nav img {
  margin-bottom: 70px;
  width: 125px;
  height: 135px;
}

header .heroHeader .heroHeaderContainer nav .items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

header .heroHeader .heroHeaderContainer nav .items a {
  margin-bottom: 15px;
  padding: 7px auto;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  color: #efefef;
  background-color: #F9622B;
  text-align: center;
  font-size: 14px;
  word-break: break-all;
  min-width: 100%;
}

header .heroHeader .heroHeaderContainer .banner {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/home-slider-pizza-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

header .heroHeader .heroHeaderContainer .banner img {
  width: 100%;
}

footer {
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #efefef;
}

footer .footerMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 100px 0 50px 0;
}

footer .footerMain .leftFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  align-self: flex-start;
}

footer .footerMain .leftFooter img {
  width: 130px;
  height: 180x;
}

footer .footerMain .leftFooter p {
  padding: 12px 0;
}

footer .footerMain .leftFooter .appMarket {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

footer .footerMain .leftFooter .appMarket a img {
  width: 30px;
  height: 30px;
}

footer .footerMain .rightFooter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  align-self: flex-start;
  font-size: 23px;
}

footer .footerMain .rightFooter ul {
  width: 100%;
}

footer .footerMain .rightFooter ul li {
  display: block;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.3);
}

footer .footerMain .rightFooter ul li a {
  font-size: 16px;
  font-weight: 400px;
  color: #efefef;
}

footer .footerMain .rightFooter ul li a:hover {
  color: #f9622B;
}

footer .footerMain .rightFooter .insta {
  font-size: 14px;
  margin-top: 30px;
  padding: 11px 20px;
  border: none;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  background: linear-gradient(90deg, #fe953f 9%, #ec4f6e 38%, #e5407c 61%, #6433c3 100%);
  color: #efefef;
}

footer .footerMain .centerFooter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  align-self: flex-start;
  width: 60%;
  padding: 0 40px;
}

footer .footerMain .centerFooter p {
  line-height: 30px;
  text-align: justify;
}

footer .footerMain .centerFooter p span a {
  color: #f9622B;
}

footer .footerMain .centerFooter p span a:hover {
  color: #ffd500;
}

footer .copyRight {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0 0 70px 0;
}

footer .copyRight p span a {
  color: #f9622B;
}

footer .copyRight p span a:hover {
  color: #ffd500;
}
/*# sourceMappingURL=index.css.map */